body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

input {
    border-color: rgb(158, 55, 255);
    width: 350px;
    height: 35px;
    border-radius: 50px;
    border-width: 7.5px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

h1 {
    margin-top: 25px;
    margin-left: 25px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    margin-top: 25px;
    margin-left: 25px;
    line-height: 10px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

hr {
    line-height: 50px;
}



#homeheader {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid; 
}

#homeheader img{
    padding-right: 50px;
    width: 307.2px;
    height: 60px;
    vertical-align: middle;
}

#homeheader a{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: #2e2e2e;
    text-decoration: none;
    padding-right: 15px;
    padding-left: 15px;
}

#homeheader a:hover{
    background-color: rgb(158, 55, 255);
    color: white;
    border-radius: 15px;
    transition: 0.3s;
}



#chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 50px;
    max-height: calc(100vh - 100px);
}

#chat p {
    word-wrap: break-word;
    margin: 0;
    margin-left: 500px;
    margin-right: 500px;
    padding: 5px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

#chatForm {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: white;
    padding: 10px; 
}



@media (max-width: 600px) {
    body {
        height: auto;
        width: 90%;
    }
    input {
        margin-right: 5px;
        margin-left: 5px;
    }
    #chat p {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 60px;
    }
    h2 {
        margin-left: 10px;
        line-height: 20px;
        margin: 10px;
        font-size: 15px;
    }
    #homeheader img{
        width: 153.6px;
        height: 30px;
        padding-right: 25px;
    }
    #homeheader a{
        font-size: 12.5px;
        margin-right: 10px;
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
}